
Course 4 - Convolutional Neural Networks/week2/ResNets/ResNet50.h5
Course 4 - Convolutional Neural Networks/week3/Car detection for Autonomous Driving/model_data/yolo.h5
Course 4 - Convolutional Neural Networks/week4/Neural Style Transfer/pretrained-model/imagenet-vgg-verydeep-19.mat
Course 5 - Sequence Models/readonly/glove.6B.50d.txt
Course 5 - Sequence Models/readonly/Triggerword Detection/XY_dev/X_dev.npy
Course 5 - Sequence Models/readonly/Triggerword Detection/XY_train/X.npy
Course 5 - Sequence Models/Week 2/Emojify/data/glove.6B.50d.txt
Course 5 - Sequence Models/Week 2/Word Vector Representation/data/glove.6B.50d.txt
Course 5 - Sequence Models/Week 3/Trigger word detection/XY_dev/X_dev.npy
Course 5 - Sequence Models/Week 3/Trigger word detection/XY_train/X.npy
